* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(img/fundo.png) repeat-x;
}

h2 {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    background: #294c71;
    color: #fff;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

h3.destaque {
    background: #b10333;
    color: #fff;
}

img {
    border: 2px solid #dfdfdf;
}

a {
    color: #69001d;
    
}

label {
    display: block;
    cursor: pointer;
}

input {
    font-size: 0.9em;
    background-color: #fff;
    margin-top: 5px;
    padding: 5px;
    width: 125px;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 1px solid #870529;
    margin-top: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;   
}

#topo ul {
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.3em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(img/divisor.png) repeat-y;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

#principal {
    width: 800px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

#conteudo {
    margin-top: 60px;
    background-color: #f5f5f5;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 20px 20px 195px; 
}

#secundario {
    width: 270px;
    float: left;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(img/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

#rodape {
    background: #294c71;
    padding: 20px;
}

#rodape2 {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(img/logo.png) no-repeat center;
    text-indent: -600px;
}

.caixa {
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(img/fundo-caixa.png);
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}